In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_Batting = pd.read_csv("b.csv") 
# Preview the first 5 lines of the loaded data 
df_Batting.head()

  Unnamed: 0  Mat Inns Balls  Runs Wkts   BBI   BBM    Ave  Econ    SR 4w 5w 10
0       ODIs   44    6   132   130    6  3/26  3/26  21.66  5.90  22.0  0  0  0
1       ODIs   84   83  3960  3581   93  6/52  6/52  38.50  5.42  42.5  2  1  0
2       ODIs   35   13   326   355   10  2/22  2/22  35.50  6.53  32.6  0  0  0
3       ODIs   11   11   591   517   16  5/44  5/44  32.31  5.24  36.9  0  1  0
4       ODIs  188  136  4132  3561   76   3/4   3/4  46.85  5.17  54.3  0  0  0

In [ ]:
df_Batting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656 entries, 0 to 655
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  656 non-null    object
 1   Mat         656 non-null    int64
 2   Inns        656 non-null    object
 3   Balls       656 non-null    object
 4   Runs        656 non-null    object
 5   Wkts        656 non-null    object
 6   BBI         656 non-null    object
 7   BBM         656 non-null    object
 8   Ave         656 non-null    object
 9   Econ        656 non-null    object
 10  SR          656 non-null    object
 11  4w          656 non-null    object
 12  5w          656 non-null    object
 13  10          656 non-null    object
dtypes: int64(1), object(13)
memory usage: 71.9+ KB

In [ ]:
df_Batting['Wkts'].unique()

In [ ]:
df_Batting.replace(to_replace='-',value=0,inplace=True)

In [ ]:
df_Batting['Wkts']=pd.DataFrame(df_Batting['Wkts'].astype(str).astype(int))

In [ ]:
df_Batting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656 entries, 0 to 655
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  656 non-null    object
 1   Mat         656 non-null    int64
 2   Inns        656 non-null    object
 3   Balls       656 non-null    object
 4   Runs        656 non-null    object
 5   Wkts        656 non-null    int64
 6   BBI         656 non-null    object
 7   BBM         656 non-null    object
 8   Ave         656 non-null    object
 9   Econ        656 non-null    object
 10  SR          656 non-null    object
 11  4w          656 non-null    object
 12  5w          656 non-null    object
 13  10          656 non-null    object
dtypes: int64(2), object(12)
memory usage: 71.9+ KB

In [ ]:
df_Batting['output1']=np.where(df_Batting['Wkts']<=1, 1, 0) 
df_Batting['output2']=np.where((df_Batting['Wkts']>=2) & (df_Batting['Wkts']<=3), 2, 0) 
df_Batting['output3']=np.where(df_Batting['Wkts']>=4 , 5, 0)

In [ ]:
df_Batting['output']=df_Batting.output1 | df_Batting.output2 | df_Batting.output3

In [ ]:
# Import Drive API and authenticate.
from google.colab import drive

# Mount your Drive to the Colab VM.
drive.mount('/gdrive')
#df
df=df_Batting
# Write the DataFrame to CSV file.
with open('/gdrive/My Drive/outputB.csv', 'w') as f:
  df.to_csv(f)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive